.skeleton-shimmer {
  position: relative;
  overflow: hidden;
  background: #eee;
}

.skeleton-shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(200, 200, 200, 0.3),
    transparent
  );
  animation: shimmer-move 1.2s infinite;
}

@keyframes shimmer-move {
  0% {
    left: -150px;
  }
  100% {
    left: 100%;
  }
}
